.DS_Store

.env
.direnv/
.envrc
flake.nix
flake.lock
.vscode/

#.git/ need for uv-dynamic-versioning
.github/
.gitignore

.dockerignore
Dockerfile
compose.yaml

.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
_version.py

.pre-commit-config.yaml
AGENTS.md

config.yaml
!tests/config.yaml

log/
logs/
