.DS_Store
.direnv/
.dockerignore
.envrc
.git/
.github/
.gitignore
.mypy_cache/
.pre-commit-config.yaml
.ruff_cache/
.venv/
.vscode/
Dockerfile
compose.yaml
flake.lock
flake.nix

config.yaml
tests/files/
log/

build/
dist/
*.egg-info/
_version.py
