services:
  wi1-bot:
    container_name: wi1-bot
    image: wthueb/wi1-bot
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - capabilities:
              - gpu
    devices:
      - /dev/dri:/dev/dri
    environment:
      - WB_CONFIG_PATH=/data/config.yaml
      - WB_LOG_DIR=/data/logs
      - MONGODB_CONNECTION_STRING=mongodb://mongodb:27017
    volumes:
      - .:/data

  mongodb:
    container_name: mongodb
    image: mongo:8.0
