services:
  wi1-bot:
    container_name: wi1-bot
    image: wthueb/wi1-bot
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    devices:
      - /dev/dri:/dev/dri
    environment:
      - WB_CONFIG_PATH=/data/config.yaml
      - WB_LOG_DIR=/data/logs
      - WB_DB_PATH=/data/wi1_bot.db
    volumes:
      - .:/data
