[project]
name = "wi1-bot"
dynamic = ["version"]
description = "Discord bot for Radarr/Sonarr integration"
authors = [{ name = "William Huebner", email = "wilhueb@gmail.com" }]
readme = "README.md"
license = "MIT"
classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.10"
]
requires-python = ">=3.10"
dependencies = [
    "discord-py==2.3.2",
    "flask==3.0.2",
    "mongoengine==0.29.1",
    "pyarr==5.2.0",
    "pyyaml==6.0.1",
    "requests==2.31.0",
]

[project.urls]
Homepage = "https://github.com/wthueb/wi1-bot"

[project.scripts]
wi1-bot = "wi1_bot.scripts.start:main"
transcode-item = "wi1_bot.scripts.transcode_item:main"
add-tag = "wi1_bot.scripts.add_tag:main"
rescan = "wi1_bot.scripts.rescan:main"

[dependency-groups]
dev = [
    "mongo-types>=0.15.1",
    "mypy>=1.16.0",
    "pre-commit>=4.2.0",
    "ruff>=0.11.13",
    "types-pyyaml>=6.0.12.20250516",
]

[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = ["E", "F", "I"]

[tool.mypy]
packages = "wi1_bot"
strict = true

[build-system]
requires = ["hatchling", "uv-dynamic-versioning"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.uv-dynamic-versioning]
fallback-version = "0.0.0"
