aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
certifi==2020.12.5
chardet==4.0.0
discord.py==1.7.2
idna==2.10
multidict==5.1.0
pyarr==1.0.2
pycodestyle==2.7.0
python-pushover==0.4
requests==2.25.1
toml==0.10.2
transmission-rpc==3.2.5
typing-extensions==3.10.0.0
urllib3==1.26.4
yarl==1.6.3
